 body{
	font-family: "Courier New", Courier, monospace;
}

.cardText{
	color: black;
}

img {
width: 100%;
}


.navbar .navbar-nav {
	float: none;
	display: inline-block;
	vertical-align: top;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 5px solid black;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}



textarea#editBio{
	background-color: tan;
	width: 100%;
}

button {
  border: 3px solid #fcba03;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}